body {
  background-color: #1A1F23;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

.name h1 {
  font-size: 64px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color:rgba(255, 255, 255, .80);
  margin: 0px;
  margin-top: 10%;
  color: #ffffff;
  text-transform: uppercase;
}

.pagetitle h1 {
  font-size: 64px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  margin: 0px;
  margin-top: 5%;
  color:rgba(255, 255, 255, .80);
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 0px;
  color: #ff6500;
  text-transform: lowercase;
}
 
p {
  font-size: 25px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 200;
  margin-top: 24px;
  margin-bottom: 0px;  
  color: #68737E;
  text-transform: lowercase;
  text-align: justify;
}

span {
   color: #ff6500;
   font-family: 'Roboto Mono', monospace;
}

.big-button {
  background-color: #1A1F23;
  border: 2px solid #2F363D;
  color: #68737E;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 16px;
  border-radius: 2px;
  margin-right: 16px;
}

.big-button:hover {
  background-color: #ff6500;
  border: 2px solid #ff6500;
  color: #f9f9f9;
  cursor: pointer;
}

.menu {
  margin-top: 64px;
}
 
.small-button {
  background-color: #1A1F23;
  border: 2px solid #2F363D;
  color: #68737E;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 8px;
  border-radius: 2px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 8px;
}

.small-button:hover {
  background-color: #ff6500;
  border: 2px solid #ff6500;
  color: #fafafa;
  cursor: pointer;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-top: 48px;
  margin-bottom: 0px;
  color: rgba(255, 255, 255, .80);
  text-transform: lowercase;
}


hr {
  border: 1px solid rgba(255, 255, 255, .25);
}

