body{
  background-color: #1A1F23;
  color: ##fafafa;
  font-family: 'Roboto', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

.name h1 {
  font-size: 64px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: ##FFFFFF;
  margin: 0px;
  margin-top: 10%;
  text-transform: uppercase;
}

h2{
  font-size: 30px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 0px;
  color: ##0087FF;
  text-transform: lowercase;
}

p{
  font-size: 25px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 200;
  margin-top: 24px;
  margin-bottom: 0px;  
  color: #68737E;
  text-transform: lowercase;
}

.big-button {
  background-color: #1A1F23;
  border: 2px solid #2F363D;
  color: #68737E;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25px;
  padding: 16px;
  border-radius: 2px;
  margin-right: 16px;
}

.big-button:hover {
  background-color: #0087FF;
  border: 2px solid #0087FF;
  color: #f9f9f9;
  cursor: pointer;
}

.menu {
  margin-top: 64px;
}
